#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	cursor: pointer;
	margin: 0.5rem 0;
}

.completed {
	text-decoration: line-through;
	color: rgb(0, 165, 0);
}
