#root {
	max-width: 300px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0;
	text-align: start;
}

li {
	margin: 0.5rem 0;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	position: relative;
}

li > p {
	margin: 0;
	width: 100%;
}

.completed {
	text-decoration: line-through;
	color: rgb(0, 165, 0);
}

.check-mark {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0 0.5rem;
	font-size: 1.3rem;
}

.deleteBtn {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0.2rem;
	position: absolute;
	height: 100%;
	right: 0;
	font-size: 1rem;
}

